@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: linear-gradient(0deg, #fffde9 0%, #0fe2be 100%);

  color: rgba(11, 74, 63, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.g-i-header.is-open .g-i-header-background {
  left: 0;
}
.g-i-header-button-wrapper {
  margin-left: auto;
}
.g-i-header-icon {
  display: none;
}

.g-i-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.g-i-navigation-list.is-open {
  right: 0;
}
.g-i-header-icon-menu {
  display: block;
}

.g-i-header-icon-button.is-open .g-i-header-icon-menu {
  display: none;
}

.g-i-header-icon-button.is-open .g-i-header-icon-close {
  display: block;
}

.g-i-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 70px;
  background: rgba(11, 74, 63, 1);
}

.g-i-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(168, 19, 209, 1);
}
.g-i-header.is-open .g-i-header-background {
  left: 0;
}
.g-i-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 10px;

  border: 3px solid rgba(255, 255, 255, 1);
}

.g-i-header-icon-menu {
  display: block;
}

.g-i-header-icon-button.is-open .g-i-header-icon-menu {
  display: none;
}

.g-i-header-icon-button.is-open .g-i-header-icon-close {
  display: block;
}

.g-i-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;

  position: relative;
}

.g-i-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 32px;
  gap: 28px;
  background: rgba(168, 19, 209, 1);
}

.g-i-navigation-list.is-open {
  right: 0;
}

.g-i-navigation-link {
  font-family: Barlow;
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.g-i-navigation-link:hover,
.g-i-navigatioт-link:focus {
  color: rgba(30, 30, 30, 1);
}

.g-i-header.is-open {
  background-color: transparent;
}

.g-i-navigation-img {
  display: none;
}

@media screen and (min-width: 1203px) {
  .g-i-navigation-img {
    display: flex;
  }
  .g-i-policy-terms-header-icon-menu {
    display: none;
  }
  .g-i-header-button-wrapper {
    border: none;
  }
  .g-i-header {
    width: 100%;
    height: 88px;
    padding: 10px 0px 10px 20px;
    display: flex;

    z-index: 1000;
  }

  .g-i-header-background {
  }
  .g-i-header-icon-button {
    display: none;
  }
  .g-i-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .g-i-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 64 px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: end;
  }

  .g-i-navigation-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

    text-decoration: none;
  }

  .g-i-navigation-item-desk {
    display: none;
  }
}
.g-i-home {
  width: 375px;
  height: 976px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 25.png");
  margin: auto;
}
.g-i-home-container {
  width: 375px;
  padding: 40px 16px 0px;
  margin: auto;
}

.g-i-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.g-i-home-title {
  width: 310px;
  height: 210px;
}

.g-i-home-text {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  padding: 0 0 358px;
  text-align: justify;
}

.g-i-home-google-button-image {
  width: 272px;
  height: 87px;
}

.g-i-home-google-button-link:hover .g-i-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1203px) {
  .g-i-home {
    width: 1440px;
    height: 790px;
    background-image: url("/img/home/Frame\ 26.png");
  }
  .g-i-home-container {
    width: 1440px;
    padding: 80px 80px 0px;
  }
  .g-i-home-container-top {
    width: 670px;
  }

  .g-i-home-title {
    width: 634px;
    height: 430px;
  }

  .g-i-home-text {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    padding: 0px 0 44px;
  }
}

.g-i-why-container {
  width: 375px;
  margin: auto;
  padding: 37px 26px 37px 31px;
}
.g-i-why-lists {
  padding-top: 63px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.g-i-why-list {
  display: none;
}
.g-i-why-item {
  display: flex;
  gap: 19px;
  justify-content: end;
}
.g-i-why-text-bold {
  font-family: Barlow;
  font-weight: 900;
  font-size: 20px;
  line-height: 114.99999999999999%;
  letter-spacing: 0%;
  text-transform: uppercase;
  width: 247px;
}
.g-i-why-text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  padding-top: 24px;
  width: 247px;
}

@media screen and (min-width: 1203px) {
  .g-i-why-container {
    width: 1440px;
    padding: 40px 80px;
  }
  .g-i-why-div {
    display: flex;
    justify-content: space-between;
  }
  .g-i-why-lists {
    display: none;
  }
  .g-i-why-list {
    display: block;
  }
  .g-i-why-item {
    display: flex;
    gap: 38px;
    justify-content: end;
    width: 576.283203125px;
    height: 110px;
    margin-top: 64px;
  }
  .g-i-why-text-bold {
    font-family: Barlow;
    font-weight: 900;
    font-size: 20px;
    line-height: 114.99999999999999%;
    letter-spacing: 0%;
    text-transform: uppercase;

    width: 473px;
  }
  .g-i-why-text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;

    padding-top: 21px;
    width: 473px;
  }
}

.g-i-about {
  background: rgba(168, 19, 209, 1);
}
.g-i-about-container {
  width: 375px;
  padding: 32px 17px;
  margin: auto;
  display: flex;
  gap: 21px;
  flex-direction: column;
}
.g-i-about-div {
  display: flex;
  gap: 21px;
  flex-direction: column;
  align-items: center;
}
.g-i-about-title {
  font-family: Barlow;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0.66px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  color: rgba(11, 74, 63, 1);
}
.g-i-about-title-q {
  color: rgba(255, 255, 255, 1);
}
.g-i-about-text-bold {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 18px;
  color: rgba(30, 30, 30, 1);
  padding: 30px 0 20px;
}
.g-i-about-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  color: rgba(30, 30, 30, 1);
}
.g-i-about-list {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  list-style-type: disc;
  margin: 20px 0 20px 20px;
}
@media screen and (min-width: 1203px) {
  .g-i-about-container {
    width: 1440px;
    padding: 47px 80px;
    flex-direction: row;
    gap: 103px;
  }
  .g-i-about-div {
    display: flex;
    gap: 21px;
    flex-direction: column;
    align-items: center;
  }
  .g-i-about-title {
    font-family: Barlow;
    font-weight: 900;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: 0.66px;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: left;
  }

  .g-i-about-text-bold {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.66px;

    padding: 30px 0 30px;
  }
  .g-i-about-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.66px;
  }
  .g-i-about-list {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.66px;
    gap: 8px;
    padding: 30px 0 30px 20px;
  }
  .g-i-abouts {
    width: 782px;
  }
}

.g-i-gallery-container {
  width: 375px;
  margin: auto;
  padding: 69px 0 0px;
}

.g-i-gallery-item {
  width: 308px;
  height: 558px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.g-i-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.g-i-gallery-button-container {
  display: none;
}
.g-i-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.g-i-gallery-button:hover {
  scale: 120%;
}
@media screen and (min-width: 1203px) {
  .g-i-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 44px;
  }

  .g-i-gallery-container {
    width: 1440px;
  }
}

.g-i-reviews-container {
  margin: auto;
  padding: 69px 0px 0;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.g-i-reviews-list {
  padding: 78px 0 35px;
  width: 375px;
}
.g-i-reviews-lists {
  display: none;
}
.g-i-reviews-item {
  position: relative;
  margin: 32px 10px 20px;
  width: 329.1754150390625px;
  height: 344px;
  border-radius: 40px;
  padding: 108px 42px 0;
  background: rgba(255, 255, 255, 1);
  box-shadow: 12px 12px 50px 0px rgba(0, 0, 0, 0.11);
}
.g-i-reviews-img {
  position: absolute;
  top: -32px;
  left: 104px;
}
.g-i-reviews-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  height: 160px;
  margin: 24px 0 10px;
  text-align: center;
  color: rgba(30, 30, 30, 1);
}
.g-i-reviews-text-bold {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  color: rgba(30, 30, 30, 1);
  text-align: center;
}
.g-i-gallery-button-container-rev {
  display: flex;
  gap: 44px;
  margin-bottom: 35px;
}
@media screen and (min-width: 1203px) {
  .g-i-reviews-container {
    margin: auto;
    padding: 68px 80px 65px;
    width: 1440px;
    position: relative;
  }
  .g-i-reviews-t {
    display: block;
    align-items: start;
    text-align: left;
    justify-content: start;
    width: 1280px;
  }
  .g-i-gallery-button-container-rev {
    display: none;
  }
  .g-i-reviews-list {
    display: none;
  }
  .g-i-reviews-lists {
    display: block;
    width: 1035px;
    margin: auto;
    padding-top: 64px;
  }

  .slick-prev:before {
    content: url("/img/why/arrow\ \(1\).png");
    position: absolute;
    top: 250px;
    left: -60px;
  }

  .slick-next:before {
    content: url("/img/why/arrow\ \(2\).png");
    position: absolute;
    top: 250px;
    right: -60px;
  }
  .slick-arrow {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }
}

.g-i-policy-terms-container {
  padding: 100px 22px 40px;
  width: 375px;
  margin: auto;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
}

.g-i-policy-terms-title {
  font-family: Barlow;
  font-weight: 900;
  font-size: 48px;
  text-align: center;
}

.g-i-policy-terms-text {
  padding-top: 20px;
  font-family: Montserrat;
  font-weight: 900;
  font-size: 20px;
}

.g-i-policy-terms-texts {
  padding-top: 8px;
}

.g-i-policy-terms-text-one {
  padding-top: 20px;
}

.g-i-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.g-i-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.g-i-email-link {
  color: inherit;
  text-decoration: none;
}

.g-i-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1203px) {
  .g-i-policy-terms-container {
    padding: 166px 80px 60px;
    width: 1440px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
  }

  .g-i-policy-terms-title {
    font-family: Barlow;
    font-weight: 900;
    font-size: 48px;

    text-align: left;
  }

  .g-i-policy-terms-text {
    padding-top: 40px;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 20px;
  }

  .g-i-policy-terms-text-one {
    padding-top: 30px;
  }

  .g-i-terms-list {
    padding: 20px 0 20px 25px;
  }
}

.g-i-footer-container {
  width: 375px;
  height: 558px;
  margin: auto;
  padding: 212px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 52px;
  background-image: url("/img/footer.png");
}

.g-i-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}

.g-i-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Barlow;
  font-weight: 700;
  font-size: 24px;

  color: rgba(255, 255, 255, 1);
}

.g-i-footer-copyright {
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
}

@media screen and (min-width: 1203px) {
  .g-i-footer-container {
    width: 1440px;
    height: 258px;
    padding: 141px 80px 0;
    display: flex;

    justify-content: start;
    align-items: start;
    gap: 32px;
    background-image: url("/img/footer\ \(1\).png");
  }

  .g-i-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 108px;
  }

  .g-i-footer-text {
    font-family: Barlow;
    font-weight: 700;
    font-size: 24px;
  }

  .g-i-footer-copyright {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
  }
}

.g-i-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 16px;
  background: rgba(255, 255, 255, 1);

  z-index: 1000;
  display: none;
}

.g-i-cookie-popup-text-two {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;

  color: rgba(24, 27, 29, 1);
}

.g-i-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.g-i-cookie-button {
  border: none;
  background-color: transparent;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(168, 19, 209, 1);
  width: 167.5px;
  border-radius: 4px;
  padding: 16px 0;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(168, 19, 209, 1);
}

#accept-cookies {
  background: rgba(11, 74, 63, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
}

.g-i-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1203px) {
  .g-i-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .g-i-cookie-popup-text-two {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;

    width: 837px;
  }

  .g-i-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .g-i-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
